@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    margin: 0;
    background-color: rgb(143, 185, 160);
    color: #000000;
    font-family: "Saira", sans-serif;

}

nav a{ 
padding: 0.4rem;

}
a{
    text-decoration: none;
    font-size: 1.rem;
    color: rgb(0, 0, 0);
}
a:hover{
    transition: ease;
    transition-duration: 0.5s;
    background-color: #8fb9a0;
    padding: 0px 4px;
    border-radius: 4px;
}
header{
    background-color: #115f45;
    width: 100%;
    padding: 15px 0;
    height: 50%;
}
h1{
   margin: 8px;
    text-align: left;
    padding-left: 12px;
}
h2{
    margin: 8px;
    text-align: left;
    padding-left: 24px;
}
p{
    font-size: 1..2rem;
    margin: 4px;
    text-indent: 1.2rem;
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
}
h3{
    font-size: 1rem;
}
img{
    width: 340px;
    border-radius: 20px;
}
small{
    color: rgb(71, 121, 222);
}
.ass p{
    text-indent: 0rem;
    text-align: center;
    font-size: 1.1rem;
}
iframe{
    border-radius: 16px;
}


.comp h3{
    text-align: left;
    padding-left: 12px;
}
iframe{
    width: 340px;
    border-radius: 20px;
}
.hjs{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
input{
    color: rgb(171, 182, 173);   
    font-size: 1rem;
    text-align: center; 
    background-color: black;
    border-radius: 8px;
    margin-top: 8px;
    font-family: "Saira", sans-serif; 

}
label{
    font-size: 1.1rem;
}
button{
    color: rgb(171, 182, 173);   
    font-size: 1.2rem;
    text-align: center; 
    background-color: black;
    border-radius: 8px;
    margin-top: 8px;
   padding-left: 4px;
   padding-right: 4px;
   font-family: "Saira", sans-serif;

    
}
#resposta{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
    background-color:  rgb(114, 186, 143);
    margin-right:10px;
    margin-left:10px;
    font-family: "Saira", sans-serif;
   
}